Properties
Name	GO Center 517022758 Workday Daily Feed Ex
External Key	3DABC265-1E10-4D4B-8F08-971C761D59E0
Description	

Extract Type	Data Extension Extract

Extract Fields
Column Delimiter	,
DECustomer Key	0F5E274D-1D6F-4B4D-9DD3-380F976A08E8
Has Column Headers	True
Text Qualified	True
Uses Line Feed	False