Properties
Name	GO Center 517022758 Workday Daily Feed Extract
External Key	6ddb7180-0c87-45f5-a766-de33910c3df9
Description	

File Action	Move a File From Safehouse

Configuration
File Naming Pattern	
Daily_WD_Data_517022758_%%Year%%%%Month%%%%Day%%

Destination	GO Center 517022758 SFTP Import Directory
Transfer Settings	
Encrypt File

pgp

Public Key	GO Center 517022758 Workday Data Public Key

