Properties
Name	BT M&A Acquisitions 517001890 Workday Daily Feed Extract
External Key	77151FF0-149F-4C58-8E06-89F698D60D29
Description	

Extract Type	Data Extension Extract

Extract Fields
Column Delimiter	,
DECustomer Key	4EF1FEE2-C841-4CA1-B08C-B9957D2C83F6
Has Column Headers	True
Text Qualified	True
Uses Line Feed	False