Properties
Name	BT M&A Acquisitions 517001890 Workday Daily Feed Extract
External Key	0a62ec55-0bc9-45b4-a390-0254241e4c3c
Description	

File Action	Move a File From Safehouse

Configuration
File Naming Pattern	
Daily_WD_Data_517001890_%%Year%%%%Month%%%%Day%%

Destination	BT M&A Acquisitions 517001890 SFTP Import Directory
Transfer Settings	
Encrypt File

pgp

Public Key	BT M&A Acquisitions 517001890 Workday Data Public Key
