Properties
Name	MC Executive Communications 8212036 Workday Extract
External Key	D520831B-3770-4B62-AF25-6DD1C02AEA42
Description	

Extract Type	Data Extension Extract

Extract Fields
Column Delimiter	,
DECustomer Key	F96248E1-0E56-4115-8AB7-5ADFE29549D9
Has Column Headers	True
Text Qualified	True
Uses Line Feed	False
