Properties
Name	MC Executive Communications 8212036 Workday Daily Feed Extract
External Key	4292ddaa-d041-4f78-bf39-c657b9187cb6
Description	

File Action	Move a File From Safehouse

Configuration
File Naming Pattern	
Daily_WD_Data_8212036_%%Year%%%%Month%%%%Day%%

Destination	MC Executive Communications 8212036 SFTP Import Directory
Transfer Settings	
Encrypt File

pgp

Public Key	MC Executive Communications 8212036 Workday Data Public Key