roperties
Name	WD4S Decrypt Workday Data
External Key	f9d948e4-028a-4f57-ad77-dc8b4d6ff1c0
Description	

File Action	Manage File

Configuration
File Naming Pattern	
%%BASEFILENAME_FROM_TRIGGER%%.pgp

Source File Location	Enhanced FTP Site Import Directory
File Management Actions	
Decrypt file

Customer Private Key	Workday Data Secret Key
