Properties
Name	Extract Daily_WD_Data_Normalized for GO Center
External Key	D7BB3849-1998-44B1-96F5-8A420A0D4DC1
Description	

Extract Type	Data Extension Extract

Extract Fields
Column Delimiter	,
DECustomer Key	57ABA64C-E019-46A6-98CB-529653EB5298
Has Column Headers	True
Text Qualified	True
Uses Line Feed	False