Properties
Name	Move Daily_WD_Data to GO Center
External Key	a712c1e7-c91c-4b28-b2bf-5bc965b378ca
Description	

File Action	Move a File From Safehouse

Configuration
File Naming Pattern	
Daily_WD_Data_%%Year%%%%Month%%%%Day%%

Destination	GO Center Import Directory
Transfer Settings	
Encrypt File

pgp

Public Key	GO Center Workday
