Properties
Name	Extract Daily_WD_Data_Normalized for UXDS
External Key	4A57F9B6-BE4D-4EA4-96AD-AE69998847B9
Description	

Extract Type	Data Extension Extract

Extract Fields
Column Delimiter	,
DECustomer Key	1E0DA5CE-DC7E-44F2-BC71-EA7D1D004655
Has Column Headers	True
Text Qualified	True
Uses Line Feed	False