Properties
Name	Move Daily_WD_Data to UXDS
External Key	78dad70f-8be4-420e-9428-670749cc1154
Description	

File Action	Move a File From Safehouse

Configuration
File Naming Pattern	
Daily_WD_Data_UXDS_%%Year%%%%Month%%%%Day%%

Destination	UXDS SFTP Import Directory
Transfer Settings	
Encrypt File

pgp

Public Key	UXDS Workday
