Properties
Name	Employee Engagement 8200437 Workday Daily Feed Extract
External Key	9D53AFB4-09DA-4EC9-86C0-B38DF07AF117
Description	

Extract Type	Data Extension Extract

Extract Fields
Column Delimiter	,
DECustomer Key	EC5AE639-7AC5-4D61-9BBB-14A8AC8A1BC4
Has Column Headers	True
Text Qualified	True
Uses Line Feed	False