Properties
Name	Employee Engagement 8200437 Workday Daily Feed Extract
External Key	52ced73d-9bd9-424e-a0fc-b0f1d78da3b3
Description	

File Action	Move a File From Safehouse

Configuration
File Naming Pattern	
Daily_WD_Data_8200437_%%Year%%%%Month%%%%Day%%

Destination	Employee Engagement 8200437 SFTP Import Directory
Transfer Settings	
Encrypt File

pgp

Public Key	Employee Engagement 8200437 Workday Data Public Key
