Properties
Name	EE_Reports_Feed_Daily_Export_To_MID_8200437
External Key	9ed4c5e1-0017-49d1-b7be-15b12c9b8325
Description	

File Action	Move a File From Safehouse

Configuration
File Naming Pattern	
%%Year%%%%Month%%%%Day%%_EE_PF_Reports_feed_daily.csv

Destination	Employee Engagement 8200437 SFMC_EID_PeopleForce folder