Properties
Name	Business Technology 8200448 Workday Daily Feed Extract
External Key	E0A3E5D5-5319-410F-BEB4-C4DF06EDBDE8
Description	

Extract Type	Data Extension Extract

Extract Fields
Column Delimiter	,
DECustomer Key	8EEECF90-7CBF-4719-955D-75A0272D3FFF
Has Column Headers	True
Text Qualified	True
Uses Line Feed	False