Properties
Name	Business Technology 8200448 Workday Daily Feed Extract
External Key	24e7d8d4-1548-46ba-9978-62b67d18f880
Description	

File Action	Move a File From Safehouse

Configuration
File Naming Pattern	
Daily_WD_Data_8200448_%%Year%%%%Month%%%%Day%%

Destination	Business Technology 8200448 SFTP Import Directory
Transfer Settings	
Encrypt File

pgp

Public Key	Business Technology 8200448 Workday Data Public Key
