Properties
Name	Decrypt Workday Data
External Key	b86faf0e-0963-41c2-9b3a-fa2dc793ccef
Description	

File Action	Manage File

Configuration
File Naming Pattern	
%%BASEFILENAME_FROM_TRIGGER%%.pgp

Source File Location	SFTP Import Directory
File Management Actions	
Decrypt file

Customer Private Key	Workday Data Secret Key
