Activity Info
Name	Daily Workday Data
External Key	9142951A-9BC3-4DDA-AF07-A11281E19155
Description	

Destination
Data Extension	Workday_Feed_Daily

Import File
File Location	Safehouse
File Naming Pattern	%%BASEFILENAME_FROM_TRIGGER%%
Date Format	English (United States)
Delimiter	Comma
Bad Data Behavior	Skip rows with bad data
Import Options	Respect double quotes ( " ) as a text delimiter

Mapping
Data Action	 Overwrite
File Mapping	Map by Header Row
Source	"Workday_Feed_Daily" (Data Extension)	DATA TYPE
[Matching Header]	Email_Address	EmailAddress
[Matching Header]	Employee_ID	Text
[Matching Header]	Preferred_Name	Text
[Matching Header]	First_Name	Text
[Matching Header]	Last_Name	Text
[Matching Header]	Employee_Type	Text
[Matching Header]	Direct_Reports	Number
[Matching Header]	Business_Title	Text
[Matching Header]	Division	Text
[Matching Header]	Location	Text
[Matching Header]	Work_Space	Text
[Matching Header]	State_Province	Text
[Matching Header]	Department	Text
[Matching Header]	Primary_Coverage_Country	Text
[Matching Header]	Business_Unit	Text
[Matching Header]	Acquired_Company	Text
[Matching Header]	Company	Text
[Matching Header]	Manager	Text
[Matching Header]	Manager_Title	Text
[Matching Header]	Manager_Email	Text
[Matching Header]	Manager_Location	Text
[Matching Header]	Manager_Division	Text
[Matching Header]	Management_Chain_01	Text
[Matching Header]	Management_Chain_02	Text
[Matching Header]	Management_Chain_03	Text
[Matching Header]	Management_Chain_04	Text
[Matching Header]	Management_Chain_05	Text
[Matching Header]	Management_Chain_06	Text
[Matching Header]	Job_Title	Text
[Matching Header]	City	Text
[Matching Header]	Country	Text
[Matching Header]	Hire_Date	Date
[Matching Header]	Continuous_Service_Date	Date
[Matching Header]	Length_Of_Service_From_Seniority_Date	Decimal
[Matching Header]	Is_Manager	Boolean
[Matching Header]	Manager_ID	Text
[Matching Header]	Job_Family_Group	Text