Activity Info
Name	Import Daily_WD_Data_GO_Center
External Key	FE80A2BB-6212-4C02-BEAB-39A461169A56
Description	

Destination
Data Extension	Daily_WD_Data_GO_Center

Import File
File Location	ET SFTP Import
File Naming Pattern	%%BASEFILENAME_FROM_TRIGGER%%
Date Format	English (United States)
Delimiter	Comma
Bad Data Behavior	Skip rows with bad data
Import Options	Respect double quotes ( " ) as a text delimiter

Mapping
Data Action	 Overwrite
File Mapping	Map by Header Row
Source	"Daily_WD_Data_GO_Center" (Data Extension)	DATA TYPE
[Matching Header]	Employee_ID	Text
[Matching Header]	Preferred_Name	Text
[Matching Header]	First_Name	Text
[Matching Header]	Last_Name	Text
[Matching Header]	Employee_Type	Text
[Matching Header]	Market_Segment_Extract	Text
[Matching Header]	Hire_Date	Date
[Matching Header]	Direct_Reports	Number
[Matching Header]	Business_Title	Text
[Matching Header]	Job_Title	Text
[Matching Header]	Division	Text
[Matching Header]	Location	Text
[Matching Header]	Work_Space	Text
[Matching Header]	Work_Address_Street_1	Text
[Matching Header]	Work_Address_Street_2	Text
[Matching Header]	Work_Address_City	Text
[Matching Header]	Work_Address_State_Province	Text
[Matching Header]	Work_Address_Postal_Code	Text
[Matching Header]	Work_Address_Country	Text
[Matching Header]	Department	Text
[Matching Header]	Primary_Coverage_Country	Text
[Matching Header]	Business_Unit	Text
[Matching Header]	Acquired_Company	Text
[Matching Header]	Company	Text
[Matching Header]	Email	EmailAddress
[Matching Header]	Manager	Text
[Matching Header]	Manager_Title	Text
[Matching Header]	Manager_Email	Text
[Matching Header]	Manager_Location	Text
[Matching Header]	Manager_Division	Text
[Matching Header]	Management_Chain_Level_01	Text
[Matching Header]	Management_Chain_Level_02	Text
[Matching Header]	Management_Chain_Level_03	Text
[Matching Header]	Management_Chain_Level_04	Text
[Matching Header]	Management_Chain_Level_05	Text
[Matching Header]	Management_Chain_Level_06	Text
[Matching Header]	Management_Chain_Level_07	Text
[Matching Header]	Management_Chain_Level_08	Text
[Matching Header]	Management_Chain_Level_09	Text
[Matching Header]	Management_Chain_Level_10	Text
[Matching Header]	Management_Chain	Text
[Matching Header]	Manager_ID	Text
[Matching Header]	Birthdate_Month	Text
[Matching Header]	Birthdate_Day	Text
[Matching Header]	Home_Address_Address_Line_1	Text
[Matching Header]	Home_Address_Address_Line_2	Text
[Matching Header]	Home_Address_City	Text
[Matching Header]	Home_Address_State_Province	Text
[Matching Header]	Home_Address_Postal_Code	Text
[Matching Header]	Home_Address_Country	Text
