Properties
Name	Tech Office 517005801 Workday Daily Feed Extract
External Key	65F98337-B038-4501-839F-917AB2D4487D
Description	

Extract Type	Data Extension Extract

Extract Fields
Column Delimiter	,
DECustomer Key	6CD53F41-F678-4561-A90D-45AA60DCDC09
Has Column Headers	True
Text Qualified	True
Uses Line Feed	False