Properties
Name	Tech Office 517005801 Workday Daily Feed Extract
External Key	02edfec0-fd40-4dce-9029-25f942af796c
Description	

File Action	Move a File From Safehouse

Configuration
File Naming Pattern	
Daily_WD_Data_517005801_%%Year%%%%Month%%%%Day%%

Destination	Tech Office 517005801 SFTP Import Directory
Transfer Settings	
Encrypt File

pgp

Public Key	Tech Office 517005801 Workday Data Public Key
