Properties
Name	Peopleforce 8211856 Workday Daily Feed Extract
External Key	C6108D3B-7D93-4B15-B8D6-C384F39A3263
Description	

Extract Type	Data Extension Extract

Extract Fields
Column Delimiter	,
DECustomer Key	ECFEAABB-67A0-463A-9B19-3D6804AC15CF
Has Column Headers	True
Text Qualified	True
Uses Line Feed	False