Properties
Name	Peopleforce 8211856 Workday Daily Feed Extract
External Key	2d82626c-a005-4112-bd06-066a5471195f
Description	

File Action	Move a File From Safehouse

Configuration
File Naming Pattern	
Daily_WD_Data_8211856_%%Year%%%%Month%%%%Day%%

Destination	Peopleforce 8211856 SFTP Import Directory
Transfer Settings	
Encrypt File

pgp

Public Key	Peopleforce 8211856 Workday Data Public Key

