Properties
Name	BizTech 517001519 Workday Daily Feed Extract
External Key	33B76478-2889-475A-B22F-8CDE4B3098D1
Description	

Extract Type	Data Extension Extract

Extract Fields
Column Delimiter	,
DECustomer Key	FC41490B-CF1C-41FC-B82C-EFBF15ABB392
Has Column Headers	True
Text Qualified	True
Uses Line Feed	False
