Properties
Name	BizTech 517001519 Workday Daily Feed Extract
External Key	b27118e3-d77c-4ee5-ac3b-7bf4e4a71343
Description	

File Action	Move a File From Safehouse

Configuration
File Naming Pattern	
WD4S_Daily_WD_Data_517001519_%%Year%%%%Month%%%%Day%%

Destination	Biz Tech 517001519 SFTP Import Directory
Transfer Settings	
Encrypt File

pgp

Public Key	Biz Tech 517001519 Workday Data Public Key

