Properties
Name	Decrypt Workday Data
External Key	8e1e5ac1-1a30-4742-81e5-05ee659c8f73
Description	

File Action	Manage File

Configuration
File Naming Pattern	
%%BASEFILENAME_FROM_TRIGGER%%.pgp

Source File Location	SFTP Import Directory
File Management Actions	
Decrypt file

Customer Private Key	Workday Data Secret Key
