Activity Info
Name	Daily Workday Data
External Key	8861320E-5CA0-4667-B307-1170F74727D5
Description	WD4S

Destination
Data Extension	Workday_Feed_Daily_Final

Import File
File Location	Safehouse
File Naming Pattern	%%BASEFILENAME_FROM_TRIGGER%%
Date Format	English (United States)
Delimiter	Comma
Bad Data Behavior	Skip rows with bad data
Import Options	Respect double quotes ( " ) as a text delimiter

Mapping
Data Action	 Overwrite
File Mapping	Map by Header Row
Source	"Workday_Feed_Daily_Final" (Data Extension)	DATA TYPE
[Matching Header]	Email_Address	EmailAddress
[Matching Header]	Employee_ID	Text
[Matching Header]	Insert_Date	Date
[Matching Header]	Preferred_Name	Text
[Matching Header]	First_Name	Text
[Matching Header]	Last_Name	Text
[Matching Header]	Employee_Type	Text
[Matching Header]	Direct_Reports	Number
[Matching Header]	Business_Title	Text
[Matching Header]	Division	Text
[Matching Header]	Location	Text
[Matching Header]	Work_Space	Text
[Matching Header]	State_Province	Text
[Matching Header]	Postal_Code	Text
[Matching Header]	Department	Text
[Matching Header]	Primary_Coverage_Country	Text
[Matching Header]	Business_Unit	Text
[Matching Header]	Acquired_Company	Text
[Matching Header]	Company	Text
[Matching Header]	Manager	Text
[Matching Header]	Manager_Title	Text
[Matching Header]	Manager_Email	Text
[Matching Header]	Manager_Location	Text
[Matching Header]	Manager_Division	Text
[Matching Header]	Management_Chain_01	Text
[Matching Header]	Management_Chain_02	Text
[Matching Header]	Management_Chain_03	Text
[Matching Header]	Management_Chain_04	Text
[Matching Header]	Management_Chain_05	Text
[Matching Header]	Management_Chain_06	Text
[Matching Header]	Management_Chain_07	Text
[Matching Header]	Management_Chain_08	Text
[Matching Header]	Management_Chain_09	Text
[Matching Header]	Management_Chain_10	Text
[Matching Header]	Job_Title	Text
[Matching Header]	City	Text
[Matching Header]	Country	Text
[Matching Header]	Hire_Date	Date
[Matching Header]	Continuous_Service_Date	Date
[Matching Header]	Original_Hire_Date	Date
[Matching Header]	Length_Of_Service_From_Seniority_Date	Decimal
[Matching Header]	Seniority_Date	Date
[Matching Header]	Compensation_Grade	Number
[Matching Header]	Is_Manager	Boolean
[Matching Header]	Pay_Rate_Type	Text
[Matching Header]	Additional_Email_Address	Text
[Matching Header]	Voluntary_Termination_Effective_Date	Date
[Matching Header]	Management_Chain_11	Text
[Matching Header]	Management_Chain_12	Text
[Matching Header]	Management_Chain_13	Text
[Matching Header]	Management_Chain_14	Text
[Matching Header]	Manager_ID	Text
[Matching Header]	Record_Last_Updated	Date
[Matching Header]	Job_Family_Group	Text
[Matching Header]	Is_Rehired	Boolean
