Properties
Name	Decrypt Workday Data
External Key	52fa4310-ee6e-4ab1-8258-fd10ac92b1a7
Description	

File Action	Manage File

Configuration
File Naming Pattern	
%%BASEFILENAME_FROM_TRIGGER%%.pgp

Source File Location	SFTP Import Directory
File Management Actions	
Decrypt file

Customer Private Key	Workday Data Secret Key
