Activity Info
Name	Daily Workday Data
External Key	67773AF0-306C-404D-809F-1A9623D2E303
Description	

Destination
Data Extension	Workday_Feed_Daily

Import File
File Location	Safehouse
File Naming Pattern	%%BASEFILENAME_FROM_TRIGGER%%
Date Format	English (United States)
Delimiter	Comma
Bad Data Behavior	Skip rows with bad data
Import Options	Respect double quotes ( " ) as a text delimiter
Advanced File Options	
Blank File Behavior	Fail Import

Mapping
Data Action	 Overwrite
File Mapping	Map by Header Row
Source	"Workday_Feed_Daily" (Data Extension)	DATA TYPE
[Matching Header]	Email_Address	EmailAddress
[Matching Header]	Employee_ID	Text
[Matching Header]	Preferred_Name	Text
[Matching Header]	First_Name	Text
[Matching Header]	Last_Name	Text
[Matching Header]	Original_Hire_Date	Date